$body-color: $brandPrimary;

html {
	min-height: 100%;
	display: flex;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: $grayBase;
	font-family: $fontFamilyBase;
	width: 100%;

	main {
		flex: 1;
	}

	footer {
		// something to do
	}

	h1 {
		font-family: $fontFamilySecondary;
	}
}
